  <div class="row-fluid">
    <div class="span6 section">
      <h5>Options</h5>
      <div class="editor-option">
        <label class="small">Header</label><input type="checkbox" ng-model="panel.header" ng-checked="panel.header">
      </div>
      <div class="editor-option">
        <label class="small">Number of lines to load</label>
        <input type="number" class="input-small" ng-model="panel.loadSize" ng-change="set_refresh(true)">
      </div>
      <div class="editor-option">
        <label class="small">Event field to display</label>
        <input type="text" class="input-large" ng-model="panel.field" ng-change="set_refresh(true)">
      </div>
      <div class="editor-option">
        <label class="small">Follow refresh interval (sec)</label>
        <input type="number" class="input-small" ng-model="panel.followInterval" ng-change="set_refresh(true)">
      </div>
      <div class="editor-option">
        <label class="small">Logfile box width (px)</label>
        <input type="number" class="input-small" ng-model="panel.logfile_width" ng-change="set_refresh(true)">
      </div>

  </div>