    <div ng-controller='uob_logreader' ng-init='init()'>
  <style>
    .panel {
          display:block;
          float:left
      }
    .logfile {
      overflow: scroll;
      text-overflow: ellipsis;
      white-space: pre;
    }

    .logfile p {
      margin:0;
      padding:0;
      font-family:monospace;
      line-height:1em;
    }
    .align-middle {
      text-align: center;
    }
    .date {
      border-right: 1px solid white;
      padding-right:5px;
      margin-right: 5px;
    }

  </style>


  <div class=" panel-content" >
    <p><strong>Host:</strong> {{host}}</p>
    <p><strong>Filename:</strong> {{file}}</p>
    <span ng-click="goto('start')" class="pointer align-middle">Goto start</span>&nbsp;&nbsp;|&nbsp;&nbsp;
    <span ng-click="load_more('top')" class="pointer align-middle">Load More</span>
    <div class="logfile" id="logfile" style="height:{{panel.height || row.height}};">
      <p bindonce
         ng-repeat="event in data"
         ng-class="{'uob-active' : isSelected(event['@timestamp'], event.offset)}"
         id="offset_{{event.offset}}"
        ><span class="date">{{event['@timestamp']| date:'HH:mm:ss' }}</span> {{event[panel.field]}}</p>

    </div>
    <div>
      <span ng-click="goto('end')" class="pointer align-middle">Goto end</span>&nbsp;&nbsp;|&nbsp;&nbsp;
      <span ng-click="load_more('bottom')" class="pointer align-middle">Load More</span>
      <label><input type="checkbox" ng-model="follow_enabled" ng-click="follow($event)"/> Follow</label>
    </div>

  </div>


</div>